<!DOCTYPE html>

<html  xmlns:th="http://www.thymeleaf.org" lang="fr"
        data-th-replace="~{layouts/layout :: layout-filmotheque(
                        contenuPage=~{:: main},
                        ressourcesSupp=~{})}">

<body>
    <main>
        <table>
            <thead>
            <tr>
                <th>Genre</th>
                <th>Année</th>
                <th>Titre</th>
                <th>Réalisateur</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="film : ${films}">
                <td th:text="${film.genre.getTitre()}"></td>
                <td th:text="${film.getAnnee()}"></td>
                <td th:text="${film.getTitre()}"></td>
                <td th:text="${film.realisateur.getPrenom() + ' ' + film.realisateur.getPrenom()}"></td>
                <td>
                    <a th:href="@{'/films/details' (id=${film.getId()})}">
                        <button>Détails</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </main>

</body>
</html>